<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" charset="utf-8">
    <script src="mapFunctionality.js" charset="utf-8"></script>
    <script src="login.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">
            <img src="img/logo.png" alt="carolynpls">
          </a>
        </div>

        <form class="navbar-form navbar-right" action="index.html" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button class="btn btn-default" type="submit" name="button" >Sign In</button>
          <a href="#" id="loginForm"><button class="btn btn-default" type="button" name="button">Sign Up</button></a>
        </form>
      </nav>
    </div>

    <div class="container">
      <form class="editProfile" action="update" method="POST">
        <h3>Login Information</h3>
        Name: <%= profile.name %>
        <input type="text" class="form-control textInput" name="editname" placeholder="New name">

        Email: <%= profile.email %>
        <!-- Email: <input type="text" class="currentInfo" id = "currentEmail" name="email" readonly></input> -->
        <input type="text" class="form-control textInput" name="editemail" placeholder="New email">

        Password:
        <div class="passwordInfo">Current Password:</div>
        <input type="password" class="form-control textInput" name="currentpass" id="currentPass" placeholder="Current Password">
        <div class="passwordInfo">New Password</div>
        <div class="error"></div>
        <input type="password" class="form-control textInput" name="newpass" placeholder="New Password" id="newPassword">
        <input type="password" class="form-control textInput" name="confirmpass" placeholder="Confirm New Password" id="newPasswordConfirm">

        <h3>Business Information</h3>
        Street Number: <%= profile.location.streetnumber %>
        <input type="text" class="form-control textInput" name="editstreetnum" placeholder="New Street Number">

        Street Name: <%= profile.location.streetname %>
        <input type="text" class="form-control textInput" name="editstreetname" placeholder="New Street Name">

        Country: <%= profile.location.country %>
        <input type="text" class="form-control textInput" name="editcountry" placeholder="New name">

        City: <%= profile.location.city %>
        <input type="text" class="form-control textInput" name="editcity" placeholder="New name">

        <div class="container-fluid">
          <button type="submit" class="btn btn-default productButtons" name="">Submit</button>
          <button type="reset" class="btn btn-default productButtons" name="">Clear</button>
        </div>
      </form>

      <div class="nondisplay"><%= profile.location.lat %></div>
      <div class="nondisplay"><%= profile.location.lng %></div>

      <div class="" id="map" onload="initMap()"></div>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaObGOdKXJwQLS9a8i9Kj5WpW3wdpAu9M&callback=initMap">
      </script>
    </div>
  </body>
</html>
